@font-face {
  font-family: 'basic-icons';
  src:  url('../fonts/basic-icons.eot?j4b5rm');
  src:  url('../fonts/basic-icons.eot?j4b5rm#iefix') format('embedded-opentype'),
    url('../fonts/basic-icons.ttf?j4b5rm') format('truetype'),
    url('../fonts/basic-icons.woff?j4b5rm') format('woff'),
    url('../fonts/basic-icons.svg?j4b5rm#basic-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="basic-icons-"], [class*=" basic-icons-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'basic-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.basic-icons-atm:before {
  content: "\e900";
}
.basic-icons-black-envelope-email-symbol:before {
  content: "\e901";
}
.basic-icons-boss:before {
  content: "\e902";
}
.basic-icons-calendar:before {
  content: "\e903";
}
.basic-icons-cancel:before {
  content: "\e904";
}
.basic-icons-certificate:before {
  content: "\e905";
}
.basic-icons-chat:before {
  content: "\e906";
}
.basic-icons-graph:before {
  content: "\e907";
}
.basic-icons-group:before {
  content: "\e908";
}
.basic-icons-heart:before {
  content: "\e909";
}
.basic-icons-hiring:before {
  content: "\e90a";
}
.basic-icons-idea:before {
  content: "\e90b";
}
.basic-icons-left-arrow-forward:before {
  content: "\e90c";
}
.basic-icons-right-arrow-forward:before {
  content: "\e90d";
}
.basic-icons-down-arrow-forward:before {
  content: "\e90e";
}
.basic-icons-up-arrow-forward:before {
  content: "\e90f";
}
.basic-icons-magnifying-glass:before {
  content: "\e910";
}
.basic-icons-map-placeholder:before {
  content: "\e911";
}
.basic-icons-megaphone:before {
  content: "\e912";
}
.basic-icons-mortarboard:before {
  content: "\e913";
}
.basic-icons-phone-call-button:before {
  content: "\e914";
}
.basic-icons-pie-chart:before {
  content: "\e915";
}
.basic-icons-play-button:before {
  content: "\e916";
}
.basic-icons-presentation:before {
  content: "\e917";
}
.basic-icons-promotion:before {
  content: "\e918";
}
.basic-icons-safebox:before {
  content: "\e919";
}
.basic-icons-salary:before {
  content: "\e91a";
}
.basic-icons-schedule-button:before {
  content: "\e91b";
}
.basic-icons-send-button:before {
  content: "\e91c";
}
.basic-icons-shopping-cart:before {
  content: "\e91d";
}
.basic-icons-target:before {
  content: "\e91e";
}
.basic-icons-video-call:before {
  content: "\e91f";
}

@font-face {
  font-family: 'business-collection';
  src:  url('../fonts/business-collection.eot?2pzmcw');
  src:  url('../fonts/business-collection.eot?2pzmcw#iefix') format('embedded-opentype'),
    url('../fonts/business-collection.ttf?2pzmcw') format('truetype'),
    url('../fonts/business-collection.woff?2pzmcw') format('woff'),
    url('../fonts/business-collection.svg?2pzmcw#business-collection') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="business-collection-"], [class*=" business-collection-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'business-collection' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.business-collection-atm:before {
  content: "\e900";
}
.business-collection-atm-1:before {
  content: "\e901";
}
.business-collection-atm-2:before {
  content: "\e902";
}
.business-collection-bag:before {
  content: "\e903";
}
.business-collection-bag-1:before {
  content: "\e904";
}
.business-collection-bag-2:before {
  content: "\e905";
}
.business-collection-bag-3:before {
  content: "\e906";
}
.business-collection-bag-4:before {
  content: "\e907";
}
.business-collection-bag-5:before {
  content: "\e908";
}
.business-collection-bag-6:before {
  content: "\e909";
}
.business-collection-bank:before {
  content: "\e90a";
}
.business-collection-barbershop:before {
  content: "\e90b";
}
.business-collection-barcode:before {
  content: "\e90c";
}
.business-collection-barcode-1:before {
  content: "\e90d";
}
.business-collection-basket:before {
  content: "\e90e";
}
.business-collection-basket-1:before {
  content: "\e90f";
}
.business-collection-basket-2:before {
  content: "\e910";
}
.business-collection-box:before {
  content: "\e911";
}
.business-collection-box-1:before {
  content: "\e912";
}
.business-collection-box-2:before {
  content: "\e913";
}
.business-collection-box-3:before {
  content: "\e914";
}
.business-collection-briefcase:before {
  content: "\e915";
}
.business-collection-briefcase-1:before {
  content: "\e916";
}
.business-collection-calculator:before {
  content: "\e917";
}
.business-collection-cart:before {
  content: "\e918";
}
.business-collection-cart-1:before {
  content: "\e919";
}
.business-collection-cart-2:before {
  content: "\e91a";
}
.business-collection-cart-3:before {
  content: "\e91b";
}
.business-collection-cart-4:before {
  content: "\e91c";
}
.business-collection-cart-5:before {
  content: "\e91d";
}
.business-collection-cart-6:before {
  content: "\e91e";
}
.business-collection-cart-7:before {
  content: "\e91f";
}
.business-collection-cart-8:before {
  content: "\e920";
}
.business-collection-cart-9:before {
  content: "\e921";
}
.business-collection-cart-10:before {
  content: "\e922";
}
.business-collection-cart-11:before {
  content: "\e923";
}
.business-collection-cart-12:before {
  content: "\e924";
}
.business-collection-cart-13:before {
  content: "\e925";
}
.business-collection-cart-14:before {
  content: "\e926";
}
.business-collection-cart-15:before {
  content: "\e927";
}
.business-collection-cart-16:before {
  content: "\e928";
}
.business-collection-cart-17:before {
  content: "\e929";
}
.business-collection-cashier:before {
  content: "\e92a";
}
.business-collection-cashier-1:before {
  content: "\e92b";
}
.business-collection-change:before {
  content: "\e92c";
}
.business-collection-check:before {
  content: "\e92d";
}
.business-collection-coin:before {
  content: "\e92e";
}
.business-collection-coin-1:before {
  content: "\e92f";
}
.business-collection-coin-2:before {
  content: "\e930";
}
.business-collection-coin-3:before {
  content: "\e931";
}
.business-collection-coin-4:before {
  content: "\e932";
}
.business-collection-coin-5:before {
  content: "\e933";
}
.business-collection-coin-6:before {
  content: "\e934";
}
.business-collection-coin-7:before {
  content: "\e935";
}
.business-collection-coin-8:before {
  content: "\e936";
}
.business-collection-coin-9:before {
  content: "\e937";
}
.business-collection-coin-10:before {
  content: "\e938";
}
.business-collection-coins:before {
  content: "\e939";
}
.business-collection-coins-1:before {
  content: "\e93a";
}
.business-collection-crate:before {
  content: "\e93b";
}
.business-collection-crate-1:before {
  content: "\e93c";
}
.business-collection-crate-2:before {
  content: "\e93d";
}
.business-collection-crate-3:before {
  content: "\e93e";
}
.business-collection-crate-4:before {
  content: "\e93f";
}
.business-collection-crate-5:before {
  content: "\e940";
}
.business-collection-credit-card:before {
  content: "\e941";
}
.business-collection-credit-card-1:before {
  content: "\e942";
}
.business-collection-credit-card-2:before {
  content: "\e943";
}
.business-collection-credit-card-3:before {
  content: "\e944";
}
.business-collection-credit-card-4:before {
  content: "\e945";
}
.business-collection-credit-card-5:before {
  content: "\e946";
}
.business-collection-credit-card-6:before {
  content: "\e947";
}
.business-collection-delivery-cart:before {
  content: "\e948";
}
.business-collection-delivery-cart-1:before {
  content: "\e949";
}
.business-collection-diagram:before {
  content: "\e94a";
}
.business-collection-diagram-1:before {
  content: "\e94b";
}
.business-collection-diagram-2:before {
  content: "\e94c";
}
.business-collection-diagram-3:before {
  content: "\e94d";
}
.business-collection-folder:before {
  content: "\e94e";
}
.business-collection-folder-1:before {
  content: "\e94f";
}
.business-collection-get-money:before {
  content: "\e950";
}
.business-collection-graph:before {
  content: "\e951";
}
.business-collection-graph-1:before {
  content: "\e952";
}
.business-collection-graph-2:before {
  content: "\e953";
}
.business-collection-graph-3:before {
  content: "\e954";
}
.business-collection-graph-4:before {
  content: "\e955";
}
.business-collection-graph-5:before {
  content: "\e956";
}
.business-collection-graph-6:before {
  content: "\e957";
}
.business-collection-graph-7:before {
  content: "\e958";
}
.business-collection-graph-8:before {
  content: "\e959";
}
.business-collection-grocery:before {
  content: "\e95a";
}
.business-collection-grocery-1:before {
  content: "\e95b";
}
.business-collection-insert-coin:before {
  content: "\e95c";
}
.business-collection-investment:before {
  content: "\e95d";
}
.business-collection-justice:before {
  content: "\e95e";
}
.business-collection-justice-scale:before {
  content: "\e95f";
}
.business-collection-megaphone:before {
  content: "\e960";
}
.business-collection-money:before {
  content: "\e961";
}
.business-collection-notes:before {
  content: "\e962";
}
.business-collection-notes-1:before {
  content: "\e963";
}
.business-collection-notes-2:before {
  content: "\e964";
}
.business-collection-open:before {
  content: "\e965";
}
.business-collection-pack:before {
  content: "\e966";
}
.business-collection-pie-chart:before {
  content: "\e967";
}
.business-collection-pie-chart-1:before {
  content: "\e968";
}
.business-collection-pie-chart-2:before {
  content: "\e969";
}
.business-collection-pie-chart-3:before {
  content: "\e96a";
}
.business-collection-pie-chart-4:before {
  content: "\e96b";
}
.business-collection-pie-chart-5:before {
  content: "\e96c";
}
.business-collection-pie-chart-6:before {
  content: "\e96d";
}
.business-collection-piggy-bank:before {
  content: "\e96e";
}
.business-collection-piggy-bank-1:before {
  content: "\e96f";
}
.business-collection-point-of-service:before {
  content: "\e970";
}
.business-collection-poor:before {
  content: "\e971";
}
.business-collection-presentation:before {
  content: "\e972";
}
.business-collection-presentation-1:before {
  content: "\e973";
}
.business-collection-presentation-2:before {
  content: "\e974";
}
.business-collection-presentation-3:before {
  content: "\e975";
}
.business-collection-presentation-4:before {
  content: "\e976";
}
.business-collection-presentation-5:before {
  content: "\e977";
}
.business-collection-presentation-6:before {
  content: "\e978";
}
.business-collection-presentation-7:before {
  content: "\e979";
}
.business-collection-presentation-8:before {
  content: "\e97a";
}
.business-collection-presentation-9:before {
  content: "\e97b";
}
.business-collection-presentation-10:before {
  content: "\e97c";
}
.business-collection-presentation-11:before {
  content: "\e97d";
}
.business-collection-presentation-12:before {
  content: "\e97e";
}
.business-collection-presentation-13:before {
  content: "\e97f";
}
.business-collection-presentation-14:before {
  content: "\e980";
}
.business-collection-presentation-15:before {
  content: "\e981";
}
.business-collection-presentation-16:before {
  content: "\e982";
}
.business-collection-presentation-17:before {
  content: "\e983";
}
.business-collection-presentation-18:before {
  content: "\e984";
}
.business-collection-presentation-19:before {
  content: "\e985";
}
.business-collection-price-tag:before {
  content: "\e986";
}
.business-collection-price-tag-1:before {
  content: "\e987";
}
.business-collection-price-tag-2:before {
  content: "\e988";
}
.business-collection-price-tag-3:before {
  content: "\e989";
}
.business-collection-price-tag-4:before {
  content: "\e98a";
}
.business-collection-price-tag-5:before {
  content: "\e98b";
}
.business-collection-price-tag-6:before {
  content: "\e98c";
}
.business-collection-price-tag-7:before {
  content: "\e98d";
}
.business-collection-price-tag-8:before {
  content: "\e98e";
}
.business-collection-price-tag-9:before {
  content: "\e98f";
}
.business-collection-receipt:before {
  content: "\e990";
}
.business-collection-record:before {
  content: "\e991";
}
.business-collection-rewind-time:before {
  content: "\e992";
}
.business-collection-rich:before {
  content: "\e993";
}
.business-collection-safebox:before {
  content: "\e994";
}
.business-collection-safebox-1:before {
  content: "\e995";
}
.business-collection-safebox-2:before {
  content: "\e996";
}
.business-collection-safebox-3:before {
  content: "\e997";
}
.business-collection-safebox-4:before {
  content: "\e998";
}
.business-collection-stamp:before {
  content: "\e999";
}
.business-collection-stamp-1:before {
  content: "\e99a";
}
.business-collection-stand:before {
  content: "\e99b";
}
.business-collection-store:before {
  content: "\e99c";
}
.business-collection-store-1:before {
  content: "\e99d";
}
.business-collection-store-2:before {
  content: "\e99e";
}
.business-collection-store-3:before {
  content: "\e99f";
}
.business-collection-strongbox:before {
  content: "\e9a0";
}
.business-collection-suitcase:before {
  content: "\e9a1";
}
.business-collection-suitcase-1:before {
  content: "\e9a2";
}
.business-collection-suitcase-2:before {
  content: "\e9a3";
}
.business-collection-time-is-money:before {
  content: "\e9a4";
}
.business-collection-time-passing:before {
  content: "\e9a5";
}
.business-collection-wallet:before {
  content: "\e9a6";
}
.business-collection-wallet-1:before {
  content: "\e9a7";
}
.business-collection-wallet-2:before {
  content: "\e9a8";
}
.business-collection-yen:before {
  content: "\e9a9";
}

@font-face {
  font-family: 'employment';
  src:  url('../fonts/employment.eot?w4dp7q');
  src:  url('../fonts/employment.eot?w4dp7q#iefix') format('embedded-opentype'),
    url('../fonts/employment.ttf?w4dp7q') format('truetype'),
    url('../fonts/employment.woff?w4dp7q') format('woff'),
    url('../fonts/employment.svg?w4dp7q#employment') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="employment-"], [class*=" employment-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'employment' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.employment-decision-making:before {
  content: "\e900";
}
.employment-printer:before {
  content: "\e901";
}
.employment-megaphone:before {
  content: "\e902";
}
.employment-phone-call:before {
  content: "\e903";
}
.employment-chronometer:before {
  content: "\e904";
}
.employment-thinking:before {
  content: "\e905";
}
.employment-mouse:before {
  content: "\e906";
}
.employment-strategy:before {
  content: "\e907";
}
.employment-employee-2:before {
  content: "\e908";
}
.employment-puzzle:before {
  content: "\e909";
}
.employment-newspaper:before {
  content: "\e90a";
}
.employment-mortarboard:before {
  content: "\e90b";
}
.employment-boss:before {
  content: "\e90c";
}
.employment-id-card:before {
  content: "\e90d";
}
.employment-hierarchical-structure-1:before {
  content: "\e90e";
}
.employment-pie-chart:before {
  content: "\e90f";
}
.employment-interview:before {
  content: "\e910";
}
.employment-employee-1:before {
  content: "\e911";
}
.employment-idea:before {
  content: "\e912";
}
.employment-rating:before {
  content: "\e913";
}
.employment-binoculars:before {
  content: "\e914";
}
.employment-goal:before {
  content: "\e915";
}
.employment-target-1:before {
  content: "\e916";
}
.employment-briefcase:before {
  content: "\e917";
}
.employment-video-call:before {
  content: "\e918";
}
.employment-employee:before {
  content: "\e919";
}
.employment-hiring-1:before {
  content: "\e91a";
}
.employment-hiring:before {
  content: "\e91b";
}
.employment-salary:before {
  content: "\e91c";
}
.employment-test:before {
  content: "\e91d";
}
.employment-skills:before {
  content: "\e91e";
}
.employment-time:before {
  content: "\e91f";
}
.employment-promotion:before {
  content: "\e920";
}
.employment-curriculum-vitae:before {
  content: "\e921";
}
.employment-certificate:before {
  content: "\e922";
}
.employment-smartphone:before {
  content: "\e923";
}
.employment-calendar:before {
  content: "\e924";
}
.employment-money:before {
  content: "\e925";
}
.employment-group-1:before {
  content: "\e926";
}
.employment-manager:before {
  content: "\e927";
}
.employment-stamp:before {
  content: "\e928";
}
.employment-settings:before {
  content: "\e929";
}
.employment-shortcut:before {
  content: "\e92a";
}
.employment-group:before {
  content: "\e92b";
}
.employment-target:before {
  content: "\e92c";
}
.employment-teamwork:before {
  content: "\e92d";
}
.employment-presentation:before {
  content: "\e92e";
}
.employment-calculator:before {
  content: "\e92f";
}
.employment-money-bag:before {
  content: "\e930";
}
.employment-hierarchical-structure:before {
  content: "\e931";
}
